<!-- Lógica condicional para mostrar secciones -->
<ng-container *ngIf="isSignedIn; then authenticated; else anonymous"></ng-container>

<!-- Escenario autenticado -->
<ng-template #authenticated>
  <span class="mat-body">{{ 'HEADER.welcome' | translate }}, {{ currentUserName }}</span> |
  <button mat-button (click)="onSignOut()">{{ 'HEADER.sign_out' | translate }}</button>
</ng-template>

<!-- Escenario anónimo -->
<ng-template #anonymous>
  <button mat-button (click)="onSignIn()">{{ 'HEADER.sign_in' | translate }}</button> |
  <button mat-button (click)="onSignUp()">{{ 'HEADER.sign_up' | translate }}</button>
</ng-template>
