<div class="dashboard">

  <div class="dashboard-header">
    <h1>{{ 'publications.title' | translate }}</h1>
    <button mat-raised-button color="primary" class="create-button" (click)="openCreateDialog()">
      {{ 'publications.createNew' | translate }}
    </button>
  </div>

    <section class="block">
        <h2>{{ 'publications.activeTitle' | translate }}</h2>

        <ng-container *ngIf="activePublications$ | async as pubs">
            <div class="cards-container">
                <app-publication-card
                        *ngFor="let pub of pubs"
                        [publication]="pub"
                        (remove)="delete(pub)"
                        class="card">
                </app-publication-card>
            </div>

            <p *ngIf="pubs.length === 0" class="empty">
                {{ 'publications.noActive' | translate }}
            </p>
        </ng-container>
    </section>

</div>
