html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

router-outlet {
  display: block;
}

.custom-select-panel {
  background-color: #ffffff !important; /* Azul Material */
  color: black !important; /* Texto blanco */
  min-width: 100% !important;
  max-width: none !important;
  width: auto !important;
  border-radius: 6px;
}
